<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="korotchenko.financemanager">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".presentation.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".presentation.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:name=".presentation.tiles.MyTileProviderService"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.android.clockwork.ACTION_TILE_UPDATE_REQUEST" />
            </intent-filter>
        </service>
    </application>

</manifest>